@model List<Employer.Models.IndexEmployeeViewModel>
@{
}

<h1>Employees</h1>


<a class="btn btn-primary mt-5" 
    asp-area="" asp-controller="Employees" asp-action="Add">Add employee</a>

<table  class="table"
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var emp in Model)
        {
            <tr>
                <td>@emp.Name</td>
                <td>@emp.Email</td>
                <td>@emp.Salary</td>
                <td>@emp.DateOfBirth.ToString("MM-dd-yyyy")</td>
                <td>@emp.DepartmentName</td>
                <td><a href="Employees/View/@emp.Id">View</a></td>
            </tr>  
        }
    </tbody>
</table>